@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  20% {
    transform: translateY(40px);
    opacity: 0.5;
  }
  40% {
    color: #ccc;
    opacity: 0.9;
    transform: translateY(20px);
  }
  60% {
    color: #fff;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

.error {
  animation: fadein 3s ease 1 forwards;
}
body > .pnotify.pnotify-positioned.error {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 0;
  & .material-container {
    border-radius: 0 0 8px 8px;
    padding-top: 80px;
    color: red;
  }
}
